/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 22px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    opacity: 0.65;
    font-size: 85%;
    text-align: right;
}


/**
 * Page content
 */
.page-content {
    position: relative;
    padding: $spacing-unit 0;

    @include media-query($content-width) {
        padding: 0;

        figure {
          margin-left: 0;
          margin-right: 0;
        }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    padding-left: 0;
    list-style: none;
}

.page-content dl {
    padding: 0 0.5rem;
    border-bottom: 1px solid $grey-color-light;
    background: #F9F9F9;
}

.page-content dt {
    color: gray;
}

.page-content dd {
    margin-left: 0;
}


.left-menu {
  max-width: 13rem;
  top: 4rem;
  left: 1rem;
}

.improve {
  top: -1.7rem;
  left: 1rem;
}

.improve::after {
  content: "Edit this page";
}

@media (min-width: $content-width) {
  .improve {
    top: 0.15rem;
    left: -0.25rem;
  }

  .improve::after {
    content: "";
  }
}

.improve a {
  color: gray;
}

.left-menu,
.improve {
  position: absolute;
  opacity: 0.6;
  transition: opacity 0.25s;
  font-size: 85%;
}

.container .top-pages {
  display: none;
}

@include media-query(1250px) {
  .left-menu {
    display: none !important;
  }

  .container .top-pages {
    display: block;
  }
}

.left-menu:hover,
.improve:hover {
  opacity: 1;
}

.left-menu-fixed {
  position: fixed;
  top: 0.5rem;
}

.toc ol {
  list-style-type: none;
  margin-bottom: 0;
}

.toc-top,
.toc-h3 {
  padding-left: 0;
}

.toc-h4 li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.toc .waypoint {
  white-space: normal;
  color: black;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  -webkit-animation: animateBG 0.25s ease-in 1;
  animation: animateBG 0.25s ease-in 1;
}

@keyframes animateBG {
  50% { background: yellow; }
  100% { background: transparent; }
}

@-webkit-keyframes animateBG {
  50% { background: yellow; }
  100% { background: transparent; }
}

.toc .waypoint::before {
  content: "> ";
}


@media print {
  .left-menu {
    display: none !important;
  }

  .top-pages,
  .improve {
    display: none;
  }
}
