---
layout: diagram
title: Diagrams
weight: 3
---

    <h2>{{ page.title }}</h2>
    <h3 id="active-diagram">Overview</h3>

    <div>
      <div class="control">
        <div>
          <label for="scale">Scale</label>
          <input type="range" min="0.2" max="1" step="0.05" value="0.55" name="scale" oninput="setScale()" />
          <em id="scaleVal"></em>
          <a href="#" onclick="setScale()" title="Refresh diagram">
            <i class="fa fa-refresh"></i></a>
        </div>

        <button onclick="toggleRouting()">Toggle auto-routing</button>
      </div>

      <div class="paper-wrapper">
        <div id="paper"></div>
      </div>
    </div>


    <script>
      "use strict";

      var paperSettings = {
        width: 1150,
        height: 850
      };

      var graph;
      var paper;
      var texts = [];
      var active = 'all';
      var routing = true;

      function setup() {
        $('.control button').css('visibility', 'hidden');
        graph = new joint.dia.Graph;
        paper = new joint.dia.Paper($.extend({}, {
          el: $('#paper'),
          gridSize: 5,
          model: graph,
          interactive: function(cellView) {
            var attr = cellView.model.attributes;
            if (attr.type === 'link') {
              return false;
            }
            var hasStroke = attr.attrs ? attr.attrs.rect['stroke-width'] !== 0 : false;
            return (attr.z < 0 || hasStroke);
          }
        }, paperSettings));

        graph.on('change:position', function(cell) {
          if (!cell) {
            return;
          }
          var parentId = cell.get('parent');
          if (!parentId) {
            return;
          }

          var parent = graph.getCell(parentId);
          if (!parent) {
            return;
          }
          var bbox = parent.getBBox();
          var cellBBox = cell.getBBox();

          if (bbox.containsPoint(cellBBox.origin()) &&
              bbox.containsPoint(cellBBox.topRight()) &&
              bbox.containsPoint(cellBBox.corner()) &&
              bbox.containsPoint(cellBBox.bottomLeft())) {

            // All the four corners of the child are inside
            // the parent area.
            return;
          }

          // Revert the child position.
          cell.set('position', cell.previous('position'));
        });

        paper.on('cell:pointerclick', function(cell, evt, x, y) {
          var attr = cell.model.attributes;
          if (attr.prop && attr.prop.linkTo) {
            var name = attr.prop.linkTo;
            if (name === active) {
              /* Activate the main diagram. */
              name = 'all';
            }

            History.pushState(
              {diagram: name}, "Diagram: " + name, "?active=" + name
            );
          }
        });
      }

      function moveToDiagram(name) {
        $('.control a i').addClass('fa-spin');
        setTimeout(function() {
          $('#active-diagram').show().text(name === 'all' ? 'Overview' : name);
          if (name === 'all') {
            /* Going back to 'main'. */
            $('.control button').css('visibility', 'hidden');
          } else {
            $('.control button').css('visibility', 'visible');
          }

          active = name;
          diagram.clearTemp();
          render.generic(name);
          routing = true;

          $('.control a i').removeClass('fa-spin');
        }, 0);
      }

      function toggleRouting() {
        var links = graph.getLinks();
        routing = !routing;
        if (routing) {
          links.forEach(function(x) { x.set('router', {name: 'manhattan'})})
        } else {
          links.forEach(function(x) { x.set('router', null)})
        }
      }

      function setScale() {
        var scale = parseFloat($('input[name="scale"]')[0].value);
        paper.scale(scale, scale);
        paper.fitToContent({padding: 12, allowNewOrigin: 'any'});
        $('#scaleVal').text(Math.round(scale * 100) + '%');
      }

      History.Adapter.bind(window, 'statechange', function() {
        var state = History.getState();
        moveToDiagram(state.data.diagram || 'all');
      });

      setup();
      setScale();
      render.all();
      var activeState = window.location.search.substr(1).split('&')[0].split('=')[1];
      if (activeState && activeState !== 'all') {
        moveToDiagram(activeState);
      }
      paper.fitToContent({padding: 12});
    </script>
