---
layout: default
comments: true
highlight: true
---
<div class="post">

  <header class="post-header">
    <h2 class="post-title" id="guide-intro">Guide: {{ page.title }}</h2>
    <!--<p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>-->
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
